<%provide(:title, "About") %>
<h1>Edwin</h1>
<p></p>
<hr>
<h2>List of functions implemented</h2>

<li>Accout activation, password reset are available</li>
 <p></p>
<li>Users are freely look up each other</li>
 <p></p>
<li> Microposts are available with uploading picture</li>
 <p></p>
<li>Following and unfollow other users are available</li>
 <p></p>
 <li>Checking microposts feed at home and profile page</li>
