<footer class = "footer">
  <small>
	site © 2019 design by edwin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path  %></li>
      <li><%= link_to "Contact",  contact_path %></li>
     <li><a href = "https://www.facebook.com/ma.edwin.5">facebook ID</a></li>  
     <li><a href = "https://github.com/edwesh/">github ID</a></li>
    </ul>
   </nav>
</footer>
